# DBSCAN clustering

In [10]:
# beer dataset
import pandas as pd
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/beer.txt'
beer = pd.read_csv(url, sep=' ')
beer

                    name  calories  sodium  alcohol  cost
0              Budweiser       144      15      4.7  0.43
1                Schlitz       151      19      4.9  0.43
2              Lowenbrau       157      15      0.9  0.48
3            Kronenbourg       170       7      5.2  0.73
4               Heineken       152      11      5.0  0.77
5          Old_Milwaukee       145      23      4.6  0.28
6             Augsberger       175      24      5.5  0.40
7   Srohs_Bohemian_Style       149      27      4.7  0.42
8            Miller_Lite        99      10      4.3  0.43
9        Budweiser_Light       113       8      3.7  0.40
10                 Coors       140      18      4.6  0.44
11           Coors_Light       102      15      4.1  0.46
12        Michelob_Light       135      11      4.2  0.50
13                 Becks       150      19      4.7  0.76
14                 Kirin       149       6      5.0  0.79
15     Pabst_Extra_Light        68      15      2.3  0.38
16                 Hamms       139      19      4.4  0.43
17   Heilemans_Old_Style       144      24      4.9  0.43
18   Olympia_Goled_Light        72       6      2.9  0.46
19         Schlitz_Light        97       7      4.2  0.47

In [11]:
X = beer.drop('name', axis=1)

In [12]:
# center and scale the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [13]:
# DBSCAN with eps=1 and min_samples=3
from sklearn.cluster import DBSCAN
db = DBSCAN(eps=1, min_samples=3)
db.fit(X_scaled)

DBSCAN(algorithm='auto', eps=1, leaf_size=30, metric='euclidean',
    min_samples=3, p=None, random_state=None)

In [14]:
# review the cluster labels
db.labels_

array([ 0,  0, -1,  1,  1, -1, -1,  0,  2,  2,  0,  2,  0, -1,  1, -1,  0,
        0, -1,  2], dtype=int64)

In [15]:
# save the cluster labels and sort by cluster
beer['cluster'] = db.labels_
beer.sort('cluster')

C:\PythonCanopy\User\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

                    name  calories  sodium  alcohol  cost  cluster
2              Lowenbrau       157      15      0.9  0.48       -1
5          Old_Milwaukee       145      23      4.6  0.28       -1
6             Augsberger       175      24      5.5  0.40       -1
18   Olympia_Goled_Light        72       6      2.9  0.46       -1
13                 Becks       150      19      4.7  0.76       -1
15     Pabst_Extra_Light        68      15      2.3  0.38       -1
0              Budweiser       144      15      4.7  0.43        0
1                Schlitz       151      19      4.9  0.43        0
7   Srohs_Bohemian_Style       149      27      4.7  0.42        0
17   Heilemans_Old_Style       144      24      4.9  0.43        0
10                 Coors       140      18      4.6  0.44        0
16                 Hamms       139      19      4.4  0.43        0
12        Michelob_Light       135      11      4.2  0.50        0
3            Kronenbourg       170       7      5.2  0.73        1
4               Heineken       152      11      5.0  0.77        1
14                 Kirin       149       6      5.0  0.79        1
9        Budweiser_Light       113       8      3.7  0.40        2
8            Miller_Lite        99      10      4.3  0.43        2
11           Coors_Light       102      15      4.1  0.46        2
19         Schlitz_Light        97       7      4.2  0.47        2

In [16]:
# review the cluster centers
beer.groupby('cluster').mean()

           calories  sodium   alcohol      cost
cluster
-1       127.833333      17  3.483333  0.460000
 0       143.142857      19  4.628571  0.440000
 1       157.000000       8  5.066667  0.763333
 2       102.750000      10  4.075000  0.440000

In [26]:
# create a "colors" array for plotting
import numpy as np
#colors = np.array(['red', 'green', 'blue', 'yellow'])

colors = {-1:'red', 0:'green', 1:'blue',2:'yellow'}

In [28]:
# Below Needs work 

X.head()



# scatter plot matrix of DBSCAN cluster assignments (0=red, 1=green, 2=blue, -1=yellow)
pd.scatter_matrix(X, c=colors.values([beer.cluster]), figsize=(10,10), s=100);

TypeError: values() takes no arguments (1 given)